<footer class="indigo">
  <div class="container">
    <p>&copy; Cloud Commerce. 2018</p>
    <links>
    
      <!-- Links -->
      <ul class="ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link waves-light" mdbRippleRadius>Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link waves-light" mdbRippleRadius>About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link waves-light" mdbRippleRadius>Contact</a>
        </li>
    
      </ul>
    </links>
  </div>
</footer>
