<section class="container">
  <div class="main">
    <div>
      <h1>Welcome to {{appName}}!</h1>
      <h3>Best prices you can trust</h3>
    </div>
    <div>
      <button routerLink="/shopping" type="button" class="btn btn-info">Shop All</button>
      <input type="checkbox" name="toggleCheckbox" id="" (change)="toggleCarousel(carouselRef)"> Toggle Slide Show
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!--Carousel Wrapper-->


      <mdb-carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" #carouselRef>
        <mdb-slide *ngFor="let slideItem of slideItems; let index=index">
          <a [routerLink]="['/product']" [queryParams]="{ name: slideItem.name}" class="carousel-link"><img [src]="slideItem['imagelink']"></a>
          <div class="carousel-caption">
          </div>
        </mdb-slide>
      </mdb-carousel>
      <!--/.Carousel Wrapper-->

    </div>
  </div>
</section>