<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h4>Shopping Cart</h4>
      <table class="table">
        <thead class="blue-grey lighten-4">
          <tr>
            <th>image</th>
            <th>name</th>
            <th>unit price</th>
            <th>qty</th>
            <th>cost</th>
            <th>remove</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-3">
      <h4>Enter shipping details</h4>
      <!-- Default form subscription -->
      <form>      
        <input type="text" id="defaultFormSubscriptionNameEx" class="input" placeholder="Enter your name">
        <br>
        <input type="text" id="defaultFormSubscriptionNameEx" class="input" placeholder="Enter your address">
        <br>
        <input type="text" id="defaultFormSubscriptionNameEx" class="input" placeholder="Enter your city">
        <br>
        <input type="tel" id="defaultFormSubscriptionEmailEx" class="input" placeholder="Enter your phone number">
<!--       
        <div class="text-center mt-4">
          <button class="btn btn-outline-purple" type="submit">Send
            <i class="fa fa-paper-plane-o ml-2"></i>
          </button>
        </div> -->
      </form>
      <!-- Default form subscription -->
      <h5>Subtotal: $0.00</h5>
      <h5>Shipping: $0.00</h5>
      <h5>Tax(10%): $0.00</h5>
      <h5><b>Total: $0.00</b></h5>
      <div class="mt-4">
        <button class="btn btn-outline-blue" type="submit">Checkout
          <i class="fa fa-paper-plane-o ml-2"></i>
        </button>
      </div>
    </div>

  </div>
</div>