<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h4>Shopping Cart</h4>
      <table class="table">
        <thead class="blue-grey lighten-4">
          <tr>
            <th>image</th>
            <th>name</th>
            <th>unit price</th>
            <th>qty</th>
            <th>cost</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody *ngFor="let cartItem of cart; let i = index">
          <tr>
            <td><img src={{cartItem.imagelink}} /></td>
            <td>{{cartItem.name}}</td>
            <td>{{cartItem.price}}</td>
            <td><input type="number" [(ngModel)]="cartItem.qty" class="qty" /></td>
            <td>{{cartItem.price}}</td>
            <td><button (click)="removeItem(i)" class="btn btn-danger btn-sm">x</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <h4>Enter shipping details</h4>
      <form>      
        <input type="text" id="defaultFormSubscriptionNameEx" class="input" placeholder="Enter your name">
        <br>
        <input type="text" id="defaultFormSubscriptionNameEx" class="input" placeholder="Enter your address">
        <br>
        <input type="text" id="defaultFormSubscriptionNameEx" class="input" placeholder="Enter your city">
        <br>
        <input type="tel" id="defaultFormSubscriptionEmailEx" class="input" placeholder="Enter your phone number">
      </form>
      <h5>Subtotal: $0.00</h5>
      <h5>Shipping: $0.00</h5>
      <h5>Tax(10%): $0.00</h5>
      <h5><b>Total: $0.00</b></h5>
      <div class="mt-4">
        <button class="btn btn-outline-blue" type="submit">Checkout
          <i class="fa fa-paper-plane-o ml-2"></i>
        </button>
      </div>
    </div>

  </div>
</div>