.container {
  padding-top: 20px;
  padding-bottom: 160px;
  /* Height of the footer */
}

* {
  // outline: 1px solid;
}

.input {
  margin-bottom: 20px;
}

img {
  max-width: 80%;
  height: 50px;
}

.qty {
  width: 30px;
  padding-left: 15px;
  // border: 1px solid;
}

.checkout input {
  padding-bottom: 0;
  padding-top: 0;
}

.has-danger input{
  border-bottom-color: red;
}

.has-success input {
  border-bottom-color: green;
}

.form-control-feedback {
  color: red;
}