<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h4>Categories</h4>
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true"  activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let item of itemsList" title={{item.category}}>
          <ng-template ngbPanelContent>
            <!-- {{item.category.subcategories}} -->
            <ul *ngFor="let subcategory of item.subcategories">
              <li><a (click)="populateProducts(subcategory)">{{subcategory.name}}</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <h4>Showing {{displayedSubcategory.items.length}} of {{currentSubcategory.items.length}} items in {{currentSubcategory.name}}</h4>
        </div>
        <div class="col-md-6 ml-auto">
          <span><input type="checkbox" (change)="toggleStock()" name="stock" id=""> In stock only</span>
          <span>
            <label>Sort by:</label>
            <select (change)="selectSorting($event.target.value)">
              <option>None</option>
              <option>Alphabetical</option>
              <option>Price</option>
              <option>Rating</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let item of displayedSubcategory.items">
          <div class="card">

            <!--Card image-->
            <a><img class="" src={{item.imagelink}} alt="Card image cap"></a>
            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h5 class="card-title">{{item.name}}</h5>
              <!--Text-->
              <p class="card-text">${{item.price.toFixed(2)}}</p>
              <a class="btn btn-primary waves-light" mdbRippleRadius>+ add to cart</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
